<!--
  Generated template for the LInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{laptop.ad.subject}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style = background-color:#A23E48>
  <ion-card>
    <ion-slides pager>
      <ion-slide *ngFor='let img of imgs'>
        <img src="http://img.segundamano.mx/medium/{{img.path}}">
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-card>
    <ion-item>
      {{laptop.ad.subject}}
      <ion-icon name="heart"  item-end (click)="favoritos(laptop)"></ion-icon>
    </ion-item>
    <ion-item>
      <h2 *ngIf="laptop.ad.hasOwnProperty('list_price')">
        {{laptop.ad.list_price.label}}
      </h2>
      <ion-icon name="share" item-end></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../assets/imgs/logo.png">
      </ion-avatar>
      <h2 *ngIf="laptop.ad.hasOwnProperty('user') ">{{laptop.ad.user.account.name}}</h2>
      <p *ngIf="laptop.ad.hasOwnProperty('user') ">{{laptop.ad.user.account.since}}</p>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Características
    </ion-card-header>
    <ion-card-content>
      <h2>
        Ubicación: {{laptop.ad.locations[0].locations[0].label}}, {{laptop.ad.locations[0].label}}
      </h2>
      <h2 *ngIf="laptop.ad.hasOwnProperty('list_time')">
        Publicado: {{laptop.ad.list_time.label}}
      </h2>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Descripción
    </ion-card-header>
    <ion-card-content>
      {{laptop.ad.body}}
    </ion-card-content>
  </ion-card>
</ion-content>