<!--
  Generated template for the FavPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style = background-color:#908E95>Favoritos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style = background-color:#B9B6BF>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img *ngIf="item.ad.hasOwnProperty('thumbnail')"
          src="https://img.segundamano.mx/cover/{{item.ad.thumbnail.path}}">
      </ion-thumbnail>
      <h2>{{item.ad.subject}}</h2>
      <p *ngIf="item.ad.hasOwnProperty('list_price')">
        {{item.ad.list_price.label}}
      </p>
      <button ion-button clear item-end (click)="verMascotaI(item)">Ver</button>
    </ion-item>
  </ion-list>
</ion-content>